

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

h1.header {
	margin-top: 10px;
	padding-top: 1px;
	margin-bottom: 30px;
	font-size: 50px;
}

h2.help {
	font-size: 30px;
}

footer.bottombar {
	display: inline;
}

.less-margin {
	padding: 25px;
}







