.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

h1.header {
	margin-top: 10px;
	padding-top: 1px;
	margin-bottom: 30px;
	font-size: 50px;
}

h2.help {
	font-size: 30px;
}

footer.bottombar {
	display: inline;
}

.less-margin {
	padding: 25px;
}

.roulette-container {
    margin-left: 20px;
    margin-right: 20px;
}
.slots {
    height: 100px;
    width: 330px;
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    background-image: linear-gradient(bottom, #C7C7C7 0%, #FFFFFF 50%, #CFD5D6 100%);
    background-image: -o-linear-gradient(bottom, #C7C7C7 0%, #FFFFFF 50%, #CFD5D6 100%);
    background-image: -moz-linear-gradient(bottom, #C7C7C7 0%, #FFFFFF 50%, #CFD5D6 100%);
    background-image: -webkit-linear-gradient(bottom, #C7C7C7 0%, #FFFFFF 50%, #CFD5D6 100%);
    background-image: -ms-linear-gradient(bottom, #C7C7C7 0%, #FFFFFF 50%, #CFD5D6 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #C7C7C7),
        color-stop(0.5, #FFFFFF),
        color-stop(1, #CFD5D6)
    );
}
